.main {
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.list-container {
  background-color: #00b4d8;
  max-width: 95%;
  min-width: 70%;
  border-radius: 5px;
}
.list-header {
  background-color: #48cae4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1.25rem 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 0.25rem;
  gap: 0.75rem;
  font-size: 1rem;
  list-style: none;
  margin-top: 0.5rem;
  background-color: #00b4d8;
  border-radius: 5px;
}
.paginate-active {
  background-color: #caf0f8;
  padding: 0.75rem;
  clip-path: circle();
}

.paginate-inactive {
  padding: 0.75rem;
  color: #999;
  clip-path: circle();
}

.paginate-next,
.paginate-prev {
  font-weight: bold;
}
.paginate-next:hover {
  transform: scale(1.2) translateX(2px);
}
.paginate-prev:hover {
  transform: scale(1.2) translateX(-2px);
}
.paginate-next:hover,
.paginate-prev:hover {
  transition: all 0.5s;
}

@media screen and (max-width: 481px) {
  .main {
    padding: 0.75rem;
    padding-top: 1rem;
  }
  .list-container {
    width: 100%;
  }
}
